
$basic-font-size : 14
$type_scale : 1.333



// 그리드 배경색
$grid-color: #33ebe2

//line-height의 값이 font-size에 1.5배로 갈것인지 10px로 갈것인지
$using-guide-10px : false

//기본 단위를 rem으로 쓸것인지
$using-rem-unit : true


//브라우져별 분기점
$m-container-width : 350
$t-container-width : 768
$d-container-width : 1260

// $offset : 10

$container-padding : 0

//컬럼 갯수
$calumn-count : 12

//것터 값
$gutter-width : 20

//것터의 위치가 left, center, right 인지 설정
$gutter-position : center

/*-----------------------------------------------------------
/* 스타일 변수
/*-----------------------------------------------------------

// 기본 색
$color-blue: #1D8CF9
$color-yellow: #F8E71C
$color-black: #484848
$color-lightgray: #ededed
$color-linegray: #d7d7d7
$color-commentButtonLine: #7d7d7d

// 폰트
$spoqa-Thin: SpoqaHanSans-Thin
$spoqa-R: SpoqaHanSans-Regular
$spoqa-B: SpoqaHanSans-Bold
