%arrow-button-style
  position: relative
  border-radius: 50%


// 폰트와 함께있는 버튼

.st-button-B
  border-radius: 20px
  background-color: $color-blue
  color: #fff
  font-weight: 700

.st-border-button-B
  box-sizing: border-box
  border: 1px solid $color-blue
  border-radius: 20px
  background-color: #fff
  color: $color-blue
  font-weight: 700

.st-border-button-Y
  box-sizing: border-box
  border: 1px solid $color-yellow
  border-radius: 20px
  background-color: #fff
  color: $color-yellow
  font-weight: 700

// indigator style
.st-indigator
  background: $color-lightgray
  border-radius: 50%

.st-indigator-active
  background: $color-blue
  border-radius: 20px


//comment button style
.st-comment-button-border
  border: 1px solid $color-lightgray
  background: #fff
  color: $color-black


// arrow button style
.st-arrow-lightgray
  @extend %arrow-button-style
  border: 1px solid $color-lightgray
  background: #fff
  &::after
    @extend %content-center
    content: ""
    background: url("../images/icon/icon-arrow-left-lightgray.svg") no-repeat

.st-arrow-linegray
  @extend %arrow-button-style
  border: 1px solid $color-linegray
  background: #fff
  &::after
    @extend %content-center
    content: ""
    background: url("../images/icon/icon-arrow-left-gray.svg") no-repeat


.st-arrow-blue
  @extend %arrow-button-style
  border: 1px solid $color-blue
  background: #fff
  &::after
    @extend %content-center
    content: ""
    background: url("../images/icon/icon-arrow-left-blue.svg") no-repeat


//play button style
.st-play-button
  @extend %arrow-button-style
  border: 1px solid #fff
  backgroudn: transparent
  &::after
    @extend %content-center
    contetn: ""
    background: url("../images/icon/icon-play.svg") no-repeat




