
@font-face {
  font-family: 'SpoqaHanSans-Thin';
  src: url('SpoqaHanSans-Thin.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpoqaHanSans-Regular';
  src: url('SpoqaHanSans-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpoqaHanSans-Bold';
  src: url('SpoqaHanSans-Bold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
