%clearfix
  &::after
    content: ''
    display: block
    clear: both


.col-float
  float: left

.col-postion-r
  position: relative

%margin-0-auto
  margin: 0 auto

%content-center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.readable-hidden,
.a11y-hidden,
.screen-off
  overflow: hidden
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  position: absolute
  left: -99999px
