<header class="header">
    <div class="container">
      <h1 class="logo-width">
        <a href="#" class="header-logo" aria-label="popcorn"></a>
      </h1>

      <nav class="header-scroll-menu m-hidden t-hidden">
        <ul>
          <li><a class="header-menuname" href="#menu-ranking">금주의 박스오피스</a></li>
          <li><a class="header-menuname" href="#menu-recommend">맞춤 추천</a></li>
          <li><a class="header-menuname" href="#menu-comment">영화 이야기</a></li>
        </ul>
      </nav>

      <div class="header-menu-width d-hidden">
        <button type="button" class="header-menu-button" aria-label="메뉴"></button>
      </div>

      <form action="#" role="search" class="t-prefix-3 d-prefix-6">
        <input type="search" class="st-search m-hidden" aria-labeledby="검색어 입력" placeholder="영화명, 장르, 배우명, 감독">
        <button type="button" aria-label="검색"></button>
      </form>

     <!-- <div class="header-userinfo d-prefix-10">
        <img class="st-user-image" src="images/user-1.jpg" alt="회원 이미지">
       <a href="#">
        <span class="header-user-name m-hidden">이나영</span>
        <span class="header-user-selection" aria-label="로그인 정보 보기" role="button" tabindex="0"></span></a>
        </div> -->

        <div class="header-in t-prefix-7 d-prefix-11">
           <a href data-ui-sref="signin">
            <button class="header-in-button st-in-button">로그인</button>
            </a>
        </div>
     </div>
  </header>