 <section class="ranking container" id="menu-ranking" data-ng-cloak>
      <div class="row">
        <h1>금주 박스 오피스</h1>
        <div class="ranking-top3">
         <h2 class="readable-hidden">금주 박스 오피스 top 3</h2>

          <article id="sm-ranking-top1" class="ranking-first t-col-8 m-col-4" data-ng-repeat="movie in filteredMovies=(ranking_data.movies | filter:search | orderBy:order)" data-ng-show="$first">
           <div class="ranking-movie-info">
              <a href="#">
                 <h3>{{movie.movie.title_kor}}<span>({{movie.movie.title_eng}})</span></h3>
                 <div class="ranking-movie-info-desc">
                   <ul>
                     <li>예매율 {{movie.rank}}위 {{movie.ticketing_rate}}%</li>
                     <li>{{movie.release_date}} 개봉</li>
                   </ul>
                   <ul role="presentation">
                     <li>{{movie.movie.genre[0].content}} {{movie.movie.genre[1].content}}</li>
                     <li>{{movie.movie.run_time}}</li>
                     <li>{{movie.movie.making_country[0].content}}</li>
                     <li>{{movie.movie.grade.content}}</li>
                   </ul>
                 </div>
                 <div class="stars">
                   <img src="images/main-carousel/stars.png" alt="영화 평점">
                   <span>3.9</span>
                 </div>
                 </a>
           </div>
            <div class="rankingimage-wrapper-main">
              <img data-ng-src ="{{movie.movie.image_set[1].url}}" src="images/main-ranking/d-harrypotter.jpg" alt="금주 박스오피스 {{movie.rank}}위" >
            </div>
          </article>

        <div class="ranking-top2-wrapper">

            <article id="sm-ranking-top2" class="ranking-second m-col-4" data-ng-repeat="movie in filteredMovies=(ranking_data.movies | filter:search | orderBy:order)" data-ng-show="($index > 0) && ($index<3)"">
              <div class="ranking-movie-info">
                <a href="#">
                   <h3>{{movie.movie.title_kor}}<span>({{movie.movie.title_eng}})</span></h3>
                   <div class="ranking-movie-info-desc">
                     <ul>
                       <li>예매율 {{movie.rank}}위 {{movie.ticketing_rate}}%</li>
                       <li>{{movie.release_date}} 개봉</li>
                     </ul>
                     <ul role="presentation">
                       <li>{{movie.movie.genre[0].content}} {{movie.movie.genre[1].content}}</li>
                       <li>{{movie.movie.run_time}}</li>
                       <li>{{movie.movie.making_country[0].content}}</li>
                       <li>{{movie.movie.grade.content}}</li>
                     </ul>
                   </div>
                   <div class="stars">
                     <img src="images/main-carousel/stars.png" alt="영화 평점">
                     <span>3.9</span>
                   </div>
                   </a>
             </div>
              <div class="rankingimage-wrapper">
                <img data-ng-src ="{{movie.movie.image_set[1].url}}" src="images/main-ranking/d-thieves.jpg" alt="금주 박스오피스{{movie.rank}}위" >
              </div>
            </article>
        </div>

        </div>

             <div class="ranking-boxoffice m-hidden t-hidden">
              <h2 class="readable-hidden">금주 박스 오피스 top 10</h2>
                 <ol role="presentation" class="ranking-boxoffice-ol">
                   <li data-ng-repeat="movie in filteredMovies=(ranking_data.movies | filter:search | orderBy:order)" ><a href="#"> {{movie.rank}}위<span>{{movie.movie.title_kor}}</span></a></li>
                 </ol>
             </div>

      </div>
  </section>