

<section class="review" data-ng-controller="commentController">
  <div class="row">
   <div class="review-comment-wraper d-col-3">
    <h1>코멘트</h1>

    <article class="review-comment d-col-3 t-col-4 m-col-4" data-ng-repeat="movie in filteredMovies=(comment_data.movies | filter:search )">
      <a href="">
        <img class="review-user-image" data-ng-src="{{movie.author.profile_img}}" src="images/icon/icon-nouser.svg" alt="회원" width="128" height="128">
        <div class="review-user-comment d-col-2 t-col-3 m-col-3">
           <span class="review-user-name">{{movie.created | date:'yyyy-MM-dd'}} |{{movie.author.nickname}}</span>
           <h3 class="review-user-title">{{movie.movie_title}}</h3>
            <div class="review-stars">
                     <img src="images/main-carousel/stars.png" alt="영화 평점">
                     <span>{{movie.star}}</span>
          </div>
         <p class="review-desc">{{movie.content}}</p>
        </div>
      </a>
    </article>
  </div>
  </div>
</section>


  <section class="magazine" data-ng-controller="magazineController">
      <div class="row">
        <div class="d-col-9 t-col-8 m-col-4">
          <h1>매거진</h1>
          <div class="magazine-content-main" data-ng-repeat="movie in filteredMovies=(magazine_data.movies | filter:search )" data-ng-show=$first>
            <a href="#">
          <div class="magazine-content-main-image">
              <img data-ng-src={{movie.img_url}} src="images/main-magazine/magazine-content-main.jpg" alt="매거진 콘텐츠" width="507" height="330">
          </div>
              <div class="magazine-content-main-info m-col-4">
                <span>무비토크</span>
                 <h3 class="magazine-content-main-title">{{movie.title}}</h3>
                 <p class="magazine-content-main-desc">{{movie.content}}</p>
              </div></a>
          </div>
  
          <div class="magazine-content" data-ng-repeat="movie in filteredMovies=(magazine_data.movies | filter:search )" data-ng-show="($index>0) && ($index<4)">
            <a href="#">
            <div class="magazine-content-image">
              <img data-ng-src={{movie.img_url}} src="images/main-magazine/magazine-content.jpg" alt="매거진 콘텐츠" width="295" height="264">
            </div>
              <div class="magazine-content-info">
                <span>매거진</span>
                 <h3 class="magazine-content-title">{{movie.title}}</h3>
              </div>
            </a>
          </div>
  
        </div>
      </div>
  </section>
