<section class="review">
<div class="row">
 <div class="review-comment-wraper d-col-3">
  <h1>리뷰</h1>
  <article class="review-comment d-col-3 t-col-4 m-col-4">
    <a href="">
      <img class="review-user-image" src="images/user-1.jpg" alt="회원" width="128" height="128">
      <div class="review-user-comment d-col-2">
         <time datetime="2016/09/22">2016.09.22</time>
         <span class="review-user-name">이나영</span>
         <h3 class="review-user-title">신비한 동물 사전</h3>
          <div class="review-stars">
                   <img src="images/main-carousel/stars.png" alt="영화 평점">
                   <span>3.9</span>
        </div>
       <p class="review-desc">너무 재미있어요. 완전 추천합니다!!</p>
      </div>
    </a>
  </article>

 <article class="review-comment d-col-3 t-col-4 m-col-4">
    <a href="">
      <img class="review-user-image" src="images/user-1.jpg" alt="회원" width="128" height="128">
      <div class="review-user-comment d-col-2">
         <time datetime="2016/09/22">2016.09.22</time>
         <span class="review-user-name">이나영</span>
         <h3 class="review-user-title">신비한 동물 사전</h3>
          <div class="review-stars">
                   <img src="images/main-carousel/stars.png" alt="영화 평점">
                   <span>3.9</span>
        </div>
       <p class="review-desc">너무 재미있어요. 완전 추천합니다!!</p>
      </div>
    </a>
  </article>

  <article class="review-comment d-col-3 t-col-4 m-col-4">
    <a href="">
      <img class="review-user-image" src="images/user-1.jpg" alt="회원" width="128" height="128">
      <div class="review-user-comment d-col-2">
         <time datetime="2016/09/22">2016.09.22</time>
         <span class="review-user-name">이나영</span>
         <h3 class="review-user-title">신비한 동물 사전</h3>
          <div class="review-stars">
                   <img src="images/main-carousel/stars.png" alt="영화 평점">
                   <span>3.9</span>
        </div>
       <p class="review-desc">너무 재미있어요. 완전 추천합니다!!</p>
      </div>
    </a>
  </article>

  <article class="review-comment d-col-3 t-col-4 m-col-4">
    <a href="">
      <img class="review-user-image" src="images/user-1.jpg" alt="회원" width="128" height="128">
      <div class="review-user-comment d-col-2">
         <time datetime="2016/09/22">2016.09.22</time>
         <span class="review-user-name">이나영</span>
         <h3 class="review-user-title">신비한 동물 사전</h3>
          <div class="review-stars">
                   <img src="images/main-carousel/stars.png" alt="영화 평점">
                   <span>3.9</span>
        </div>
       <p class="review-desc">너무 재미있어요. 완전 추천합니다!!</p>
      </div>
    </a>
  </article>

  <article class="review-comment d-col-3 t-col-4 m-col-4">
    <a href="#">
      <img class="review-user-image" src="images/user-1.jpg" alt="회원" width="128" height="128">
      <div class="review-user-comment d-col-2">
         <time datetime="2016/09/22">2016.09.22</time>
         <span class="review-user-name">이나영</span>
         <h3 class="review-user-title">신비한 동물 사전</h3>
          <div class="review-stars">
                   <img src="images/main-carousel/stars.png" alt="영화 평점">
                   <span>3.9</span>
        </div>
       <p class="review-desc">너무 재미있어요. 완전 추천합니다!!</p>
      </div>
    </a>
  </article>

  <article class="review-comment d-col-3 t-col-4 m-col-4">
    <a href="">
      <img class="review-user-image" src="images/user-1.jpg" alt="회원" width="128" height="128">
      <div class="review-user-comment d-col-2">
         <time datetime="2016/09/22">2016.09.22</time>
         <span class="review-user-name">이나영</span>
         <h3 class="review-user-title">신비한 동물 사전</h3>
          <div class="review-stars">
                   <img src="images/main-carousel/stars.png" alt="영화 평점">
                   <span>3.9</span>
        </div>
       <p class="review-desc">너무 재미있어요. 완전 추천합니다!!</p>
      </div>
    </a>
  </article>
</div>
</section>