<section id="menu-recommend" class="recommend clearfix" data-ng-cloak data-ng-init= "accordian_tabs = {'switch_on': 'false'};">
  <h1>맞춤 추천 영화</h1>
  <div class = "recommend-radio container" data-ng-switch="accordian_tabs.switch_on">
     <button type="button" data-ng-click="accordian_tabs.switch_on = !accordian_tabs.switch_on" class="recommend-button st-border-button-B">맞춤 영화 설정</button>

        <div class="recommend-choice row" data-ng-show="accordian_tabs.switch_on">

           <div class="recommend-choice-wrapper recommend-tabcontent-1" data-ng-controller="recommendSelectController">
            <div class="d-col-2 t-col-2 m-col-2 recommend-radio-choice"  data-ng-repeat="movie in filteredMovies=(recommendSelect_data.movies | filter:search )" data-ng-init="$last && repeatComplete()" data-ng-show="($index<15)">
             <input type="checkbox" id="{{movie.content}}" name="recommend-genre" value="{{movie.content}}"><label for="{{movie.content}}">{{movie.content}}<label>
           </div>
            <button type="button" class="recommend-choice-tablinks-next-1 recommend-choice-button st-button-B t-push-1 d-push-5">다음단계</button>
          </div>

            <div class="recommend-choice-wrapper recommend-tabcontent-2" data-ng-controller="recommendCountryController">
            <div class="d-col-2 t-col-2 m-col-2 recommend-radio-choice" data-ng-repeat="movie in filteredMovies=(recommendCountry_data.movies | filter:search )" data-ng-init="$last && repeatComplete()" data-ng-show="($index<15)">
             <input type="radio" id="{{person.name}}" name="recommend-genre" value="{{person.name}}"><label for="{{person.name}}">{{movie.content}}<label>
           </div>
            <button type="button" class="recommend-choice-tablinks-prev-1 recommend-choice-button st-button-B d-push-4">이전단계</button>
            <button type="button" class="recommend-choice-tablinks-next-2 recommend-choice-button st-button-B d-push-4">다음단계</button>
          </div>

          <div class="recommend-choice-wrapper recommend-tabcontent-3" data-ng-controller="recommendGradeController">
            <div class="d-col-2 t-col-2 m-col-2 recommend-radio-choice" data-ng-repeat="movie in filteredMovies=(recommendGrade_data.movies | filter:search )" data-ng-init="$last && repeatComplete()" data-ng-show="($index<4)">
             <input type="radio" id="{{person.name}}" name="recommend-genre" value="{{person.name}}"><label for="{{person.name}}">{{movie.content}}<label>
           </div>
             <button type="button" class="recommend-choice-tablinks-prev-2 recommend-choice-button st-button-B m-push-2 t-push-6 d-push-2">이전단계</button>
             <button type="button" class="recommend-choice-tablinks-finish recommend-choice-button st-button-B m-push-2 t-push-6 d-push-2">완료</button>
          </div>
  </div>

    </div>

  <div id="recommend-movie" data-label="맞춤 추천영화 best6">
      <article data-label="맞춤 추천영화 1" class="">
        <img class="face" src="images/main-recommend/d-bigfish.jpg" alt="빅피쉬">
        <div class="recommend-movie-info face">
            <h2>신비한 동물사전<span>(Fantastic Beats)</span></h2>
            <div class="recommend-stars">
              <div class="movie-recommend-stars-wrap">
                <img class="stars-rating" src="../images/stars/stars0-0.svg" alt="">
              </div>
              <span class="movie-grade">3.9</span>
            </div>
            <table>
              <caption class="readable-hidden">영화 정보</caption>
              <tr>
                <th scope="row">개요</th>
                <td>132분|영국,미국|판타지</td>
              </tr>
                <tr>
                  <th scope="row">감독</th>
                  <td>데이빗 예이츠</td>
                </tr>
                <tr>
                  <th scope="row">출연</th>
                  <td>에디 레드메인, 콜린 파렐</td>
                </tr>
              <tr>
                  <th scope="row">등급</th>
                <td>12세 관람가</td>
              </tr>
               <tr>
                  <th scope="row">흥행</th>
                 <td>누적관객 816,169명</td>
               </tr>
            </table>
            <button type="button" class="st-button-B">더 많은 정보 보기</button>
        </div>
      </article>
    <article data-label="맞춤 추천영화 2" class="">
      <img class="face" src="images/main-recommend/d-doctor.jpg" alt="닥터스트레인지">
       <div class="recommend-movie-info face">
            <h2>신비한 동물사전<span>(Fantastic Beats)</span></h2>
            <div class="recommend-stars">
              <div class="movie-recommend-stars-wrap">
                <img class="stars-rating" src="../images/stars/stars0-0.svg" alt="">
              </div>
                   <span class="movie-grade">3.9</span>
            </div>
            <table>
              <caption class="readable-hidden">영화 정보</caption>
              <tr>
                <th scope="row">개요</th>
                <td>132분|영국,미국|판타지</td>
              </tr>
                <tr>
                  <th scope="row">감독</th>
                  <td>데이빗 예이츠</td>
                </tr>
                <tr>
                  <th scope="row">출연</th>
                  <td>에디 레드메인, 콜린 파렐</td>
                </tr>
              <tr>
                  <th scope="row">등급</th>
                <td>12세 관람가</td>
              </tr>
               <tr>
                  <th scope="row">흥행</th>
                 <td>누적관객 816,169명</td>
               </tr>
            </table>
            <button type="button" class="st-button-B">더 많은 정보 보기</button>
        </div>
    </article>
    <article data-label="맞춤 추천영화 3" class="">
      <img class="face" src="images/main-recommend/d-fantasticbeasts.jpg" alt="신비한동물사전">
       <div class="recommend-movie-info face">
            <h2>신비한 동물사전<span>(Fantastic Beats)</span></h2>
            <div class="recommend-stars">
              <div class="movie-recommend-stars-wrap">
                <img class="stars-rating" src="../images/stars/stars0-0.svg" alt="">
              </div>
                   <span class="movie-grade">3.9</span>
            </div>
            <table>
              <caption class="readable-hidden">영화 정보</caption>
              <tr>
                <th scope="row">개요</th>
                <td>132분|영국,미국|판타지</td>
              </tr>
                <tr>
                  <th scope="row">감독</th>
                  <td>데이빗 예이츠</td>
                </tr>
                <tr>
                  <th scope="row">출연</th>
                  <td>에디 레드메인, 콜린 파렐</td>
                </tr>
              <tr>
                  <th scope="row">등급</th>
                <td>12세 관람가</td>
              </tr>
               <tr>
                  <th scope="row">흥행</th>
                 <td>누적관객 816,169명</td>
               </tr>
            </table>
            <button type="button" class="st-button-B">더 많은 정보 보기</button>
        </div>
    </article>
    <article data-label="맞춤 추천영화 4" class="">
      <img class="face" src="images/main-recommend/d-her.jpg" alt="her">
       <div class="recommend-movie-info face">
            <h2>신비한 동물사전<span>(Fantastic Beats)</span></h2>
            <div class="recommend-stars">
              <div class="movie-recommend-stars-wrap">
                <img class="stars-rating" src="../images/stars/stars0-0.svg" alt="">
              </div>
                   <span class="movie-grade">3.9</span>
            </div>
            <table>
              <caption class="readable-hidden">영화 정보</caption>
              <tr>
                <th scope="row">개요</th>
                <td>132분|영국,미국|판타지</td>
              </tr>
                <tr>
                  <th scope="row">감독</th>
                  <td>데이빗 예이츠</td>
                </tr>
                <tr>
                  <th scope="row">출연</th>
                  <td>에디 레드메인, 콜린 파렐</td>
                </tr>
              <tr>
                  <th scope="row">등급</th>
                <td>12세 관람가</td>
              </tr>
               <tr>
                  <th scope="row">흥행</th>
                 <td>누적관객 816,169명</td>
               </tr>
            </table>
            <button type="button" class="st-button-B">더 많은 정보 보기</button>
        </div>
    </article>
    <article data-label="맞춤 추천영화 5" class="">
      <img class="face" src="images/main-recommend/d-kan.jpg" alt="내이름은 칸">
       <div class="recommend-movie-info face">
            <h2>신비한 동물사전<span>(Fantastic Beats)</span></h2>
            <div class="recommend-stars">
              <div class="movie-recommend-stars-wrap">
                <img class="stars-rating" src="../images/stars/stars0-0.svg" alt="">
              </div>
                   <span class="movie-grade">3.9</span>
            </div>
            <table>
              <caption class="readable-hidden">영화 정보</caption>
              <tr>
                <th scope="row">개요</th>
                <td>132분|영국,미국|판타지</td>
              </tr>
                <tr>
                  <th scope="row">감독</th>
                  <td>데이빗 예이츠</td>
                </tr>
                <tr>
                  <th scope="row">출연</th>
                  <td>에디 레드메인, 콜린 파렐</td>
                </tr>
              <tr>
                  <th scope="row">등급</th>
                <td>12세 관람가</td>
              </tr>
               <tr>
                  <th scope="row">흥행</th>
                 <td>누적관객 816,169명</td>
               </tr>
            </table>
            <button type="button" class="st-button-B">더 많은 정보 보기</button>
        </div>
    </article>
    <article data-label="맞춤 추천영화 6" class="">
      <img class="face" src="images/main-recommend/d-xman.jpg" alt="big fish">
       <div class="recommend-movie-info face">
            <h2>신비한 동물사전<span>(Fantastic Beats)</span></h2>
            <div class="recommend-stars">
              <div class="movie-recommend-stars-wrap">
                <img class="stars-rating" src="../images/stars/stars0-0.svg" alt="">
              </div>
                   <span class="movie-grade">3.9</span>
            </div>
            <table>
              <caption class="readable-hidden">영화 정보</caption>
              <tr>
                <th scope="row">개요</th>
                <td>132분|영국,미국|판타지</td>
              </tr>
                <tr>
                  <th scope="row">감독</th>
                  <td>데이빗 예이츠</td>
                </tr>
                <tr>
                  <th scope="row">출연</th>
                  <td>에디 레드메인, 콜린 파렐</td>
                </tr>
              <tr>
                  <th scope="row">등급</th>
                <td>12세 관람가</td>
              </tr>
               <tr>
                  <th scope="row">흥행</th>
                 <td>누적관객 816,169명</td>
               </tr>
            </table>
            <button type="button" class="st-button-B">더 많은 정보 보기</button>
        </div>
    </article>
  </div>
</section>
