

  <div class="container" data-ng-controller="searchController">

    <main>

      <form role="search" class="movie-search-form m-col-4 t-col-8 d-col-12">
        <input
            type="text"
            aria-labeledby="검색어 입력"
            class=""
            id="search-everything"
            placeholder="영화명,장르,배우명,감독명"
            data-ng-model="search"
            data-ng-model-options=" {'debounce':300} ">
        <button type="submit" aria-labeledby="검색" class="movie-search-submit-button"></button>
      </form>

      <article data-label="검색된 영화" class="movie-search-result" data-ng-repeat="movie in search_data.movies">
        <div class="movie-search-result-poster-wrap m-col-2 t-col-3 d-col-3">
          <img class="movie-search-result-poster" data-ng-src="{{movie.img_url}}" src="http://t1.daumcdn.net/movie/3f5df00f56b2a4c2c7baebea12b456320cf47c63" alt="{{movie.title_kor}}">
        </div>
        <div class="movie-search-info m-col-2 t-col-5 d-col-3">
          <h2 class="movie-search-title">{{movie.title_kor}}<span>({{movie.title_eng}})</span></h2>
            <div class="recommend-stars">
              <img src="images/main-carousel/stars.png" alt="영화 평점">
              <span>{{movie.star_average}}</span>
            </div>
            <table class="movie-search-info-table">
              <caption class="readable-hidden">영화 정보</caption>
              <tr>
                <th scope="row">개요</th>
                <td>{{movie.run_time}}<span>|</span>{{movie.making_country[0].content}} {{movie.making_country[1].content}}</td>
              </tr>
              <tr>
                <th scope="row">감독</th>
                <td>{{movie.director[0].name_kor}}</td>
              </tr>
              <tr>
                <th scope="row">출연</th>
                <td>{{movie.actors[0].name_kor}},{{movie.actors[1].name_kor}}</td>
              </tr>
              <tr>
                <th scope="row">등급</th>
                <td>{{movie.grade.content}}</td>
              </tr>
            </table>
            <button type="button" class="movie-search-show-more-button st-button-B">더 많은 정보 보기</button>
        </div>
      </article>

    </main>

  </div>

 <div data-ng-include=" 'views/footer.html' "></div>
