
 <div class="container show-">
	 	<div class="row">
	 		<form name="signUpForm" class="form m-col-4 t-col-6 t-push-1 d-col-6 d-push-3" role="form" data-ng-submit="save()">
	 			<div class="legend-wrap">
	 				<legend class="m-col-4 signup-legend">POPCORN | 회원가입</legend>
	 			</div>
				<div class="signup-wrap m-col-4 t-col-4 t-push-1 d-col-4 d-push-1">
					<div class="signup-id-wrap">
						<label class="signup-label" for="sign-up-id">아이디</label>
						<input id="sign-up-id" type="text" maxlenth="10" name="id" class="form-control" placeholder="아이디를 입력해주세요." required="" data-ng-model="signup_data.signup_person.username">
					</div>
					<div class="signup-nickname-wrap">
						<label class="signup-label" for="sign-up-nickname">닉네임</label>
						<input id="sign-up-nickname" type="text" name="nickname" class="form-control" placeholder="닉네임을 입력해주세요." required="" data-ng-model="signup_data.signup_person.nickname">
					</div>
					<div class="signup-email-wrap">
						<label class="signup-label" for="sign-up-email">이메일</label>
						<input id="sign-up-email" type="email" name="email" class="form-control" placeholder="이메일 입력해주세요." required="" data-ng-model="signup_data.signup_person.email">
					</div>
					<div class="signup-photo-wrap">
						<span>사진</span>
						<input id="sign-up-photo" type="file" name="photo" onchange="javascript:document.getElementById('signup_file_route').value=this.value">
						<label class="signup-label" for="sign-up-photo">찾기</label>
						<input type="text" readonly="readonly" title="File Route" class="form-control" id="signup_file_route" data-ng-model="signup_data.signup_person.profile_img">
					</div>
					<div class="signup-password-wrap">
						<label class="signup-label" for="sign-up-password">비밀번호</label>
						<input id="sign-up-password" type="password" name="password" class="form-control" placeholder="비빌번호를 입력해주세요." required="" data-ng-model="signup_data.signup_person.password1">
					</div>
					<div class="signup-confirm-password-wrap">
						<label class="signup-label" for="sign-up-confirm-password">비밀번호 확인</label>
						<input id="sign-up-confirm-password" type="password" name="confirm-password" class="form-control" placeholder="비빌번호를 재입력해주세요." required="" data-ng-model="signup_data.signup_person.password2">
					</div>
					<div class="signup-id-wrap">
						<label class="signup-label" for="date-of-birth">생년월일</label>
						<input id="date-of-birth" type="text" maxlenth="10" name="id" class="form-control" placeholder="생년월일을 입력해주세요." required="" data-ng-model="signup_data.signup_person.date_of_birth">
					</div>
					<div class="signup-id-wrap">
						<label class="signup-label" for="gender">성별</label>
						<input id="gender" type="text" maxlenth="10" name="id" class="form-control" placeholder="성별을 입력해주세요." required="" data-ng-model="signup_data.signup_person.gender">
					</div>
				</div>
				<div class="signup-submit-button-wrap m-col-4 t-col-4 t-push-1 d-col-4 d-push-1">
					<button class="signup-submit-button" type="submit" data-ladda="signup_data.is_creating" data-ng-click="create()">회원가입</button>
				</div>
	 		</form>
	 	</div>
</div>

<div data-ng-include=" 'views/footer.html' "></div>
